<div class="employee-details-card">
    <h2 class="title">View Employee Details</h2>
  
    <div class="image-container" *ngIf="employee?.employee_photo?.startsWith('data:image')">
      <img [src]="employee.employee_photo" alt="Employee Photo" class="employee-photo" />
    </div>
  
    <div class="details">
      <p><strong>First Name:</strong> {{ employee?.first_name }}</p>
      <p><strong>Last Name:</strong> {{ employee?.last_name }}</p>
      <p><strong>Email:</strong> {{ employee?.email }}</p>
      <p><strong>Gender:</strong> {{ employee?.gender }}</p>
      <p><strong>Designation:</strong> {{ employee?.designation }}</p>
      <p><strong>Salary:</strong> {{ employee?.salary }}</p>
      <p><strong>Date of Joining:</strong> {{ employee?.date_of_joining }}</p>
      <p><strong>Department:</strong> {{ employee?.department }}</p>
    </div>
  
    <div class="btn-group">
      <button class="btn btn-secondary" (click)="goBack()">Back</button>
    </div>
  </div>
  