<div class="add-employee-card">
    <h2 class="title">Add Employee</h2>
  
    <form (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" [(ngModel)]="employee.first_name" name="first_name" required />
      </div>
  
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" [(ngModel)]="employee.last_name" name="last_name" required />
      </div>
  
      <div class="form-group">
        <label>Email:</label>
        <input type="email" [(ngModel)]="employee.email" name="email" required />
      </div>
  
      <div class="form-group">
        <label>Gender:</label>
        <select [(ngModel)]="employee.gender" name="gender" required>
          <option value="" disabled>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
  
      <div class="form-group">
        <label>Designation:</label>
        <input type="text" [(ngModel)]="employee.designation" name="designation" required />
      </div>
  
      <div class="form-group">
        <label>Salary:</label>
        <input type="number" [(ngModel)]="employee.salary" name="salary" required />
      </div>
  
      <div class="form-group">
        <label>Date of Joining:</label>
        <input type="date" [(ngModel)]="employee.date_of_joining" name="date_of_joining" required />
      </div>
  
      <div class="form-group">
        <label>Department:</label>
        <input type="text" [(ngModel)]="employee.department" name="department" required />
      </div>
  
      <div class="form-group">
        <label>Upload Photo:</label>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" />
        <div *ngIf="photoPreview" class="preview-container">
          <img [src]="photoPreview" alt="Photo Preview" class="photo-preview" />
        </div>
      </div>
      
  
      <div class="button-group">
        <button type="submit" class="btn btn-save">Save</button>
        <button type="button" class="btn btn-cancel" (click)="cancel()">Cancel</button>
      </div>
  
      <p class="success" *ngIf="success">{{ success }}</p>
      <p class="error" *ngIf="error">{{ error }}</p>
    </form>
  </div>
  