<div class="container">
    <div class="header-row">
      <h2>Employees List</h2>
      <button class="btn-add" [routerLink]="['/employees/add']">+ Add Employee</button>
    </div>
  
    <div *ngIf="error" class="error">{{ error }}</div>
  
    <table class="employee-table" *ngIf="employees.length > 0">
      <thead>
        <tr>
          <th>Employee First Name</th>
          <th>Employee Last Name</th>
          <th>Employee Email Id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.first_name }}</td>
          <td>{{ emp.last_name }}</td>
          <td>{{ emp.email }}</td>
          <td>
            <button class="btn btn-update" (click)="onUpdate(emp._id)">Update</button>
            <button class="btn btn-delete" (click)="onDelete(emp._id)">Delete</button>
            <button class="btn btn-view" (click)="onView(emp._id)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  